@font-face {
  font-family: "iconfont"; /* Project id 2456921 */
  src: url('iconfont.woff2?t=1622106982598') format('woff2'),
       url('iconfont.woff?t=1622106982598') format('woff'),
       url('iconfont.ttf?t=1622106982598') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
  content: "\e928";
}

.icon-email:before {
  content: "\e601";
}

.icon-telegram:before {
  content: "\e731";
}

.icon-movie:before {
  content: "\e629";
}

.icon-twitter:before {
  content: "\e610";
}

.icon-instagram:before {
  content: "\f1d3";
}

.icon-linkedin:before {
  content: "\e812";
}

.icon-GitHub:before {
  content: "\e602";
}

.icon-Like:before {
  content: "\e607";
}

.icon-eye:before {
  content: "\e6e4";
}

.icon-comments:before {
  content: "\e660";
}

.icon-like_1:before {
  content: "\e65b";
}

.icon-share:before {
  content: "\e600";
}

